<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.7/css/bootstrap.min.css" integrity="sha512-fw7f+TcMjTb7bpbLJZlP8g2Y4XcCyFZW8uy8HsRZsH/SwbMw0plKHFHr99DN3l04VsYNwvzicUX/6qurvIxbxw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.datatables.net/v/bs4/dt-2.3.3/datatables.min.css" rel="stylesheet" integrity="sha384-UR4hP4bd6JBrj9K0mE2QJMZEH5stRD1KmPoBRg/nF4efhabd+8+ltaNlGbV061Wh" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">

 
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <!-- Brand -->
          <a class="navbar-brand d-flex align-items-center" href="/">
            <i class="fas fa-code me-2"></i> <span>DCodeMania</span>
          </a>
    
          <!-- Toggler for mobile -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <!-- Navbar links -->
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" href="/">
                  <i class="fas fa-home"></i> Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/add">
                  <i class="fas fa-user-plus"></i> Add User
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">
                  <i class="fas fa-info-circle"></i> About
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">
                  <i class="fas fa-envelope"></i> Contact
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      